<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [390, 470]
    });
</script>

<% content_for :title do %>Teamcity Dashboard<% end %>
<h1><a style="color:#2E96CD; float:left; margin-left:25px;"href="/main">Home</a>Pre Prod Environment Releases Details</h1>

