<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [390, 470]
    });
</script>

<% content_for :title do %>Teamcity Dashboard<% end %>

<h1><a style="color:#2E96CD; float:left; margin-left:15px;"href="/main">Home</a><a style="color:#2E96CD; float:left; margin-left:20px;"href="/project2">Project2</a> PROJECT1   TEAMCITY   JOBS</h1>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="project1-id1" data-view="TeamCity" data-unordered="true" data-title="PROJECT1_JOB_NAME1 STATUS"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="project1-id2" data-view="TeamCity" data-unordered="true" data-title="PROJECT1_JOB_NAME2 STATUS"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="project1-id3" data-view="TeamCity" data-unordered="true" data-title="PROJECT1_JOB_NAME3 STATUS"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="project1-id4" data-view="TeamCity" data-unordered="true" data-title="PROJECT1_JOB_NAME4 STATUS"></div>
    </li>
  </ul>
</div>
